.cards3d{

   
    .card-container {
      display: flex;
      gap: 40px;
    }
    
    .card {
      width: 350px;
    }
    
    .card-content {
      position: relative;
      padding: 15rem 5rem;
      transform-style: preserve-3d;
      transition: transform 3s;
    }
    
    .card:hover .card-content {
      transform: rotateY(180deg);
    }
    
    .card-front,
    .card-back {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      backface-visibility: hidden;
      transform-style: preserve-3d;
    }
    
    .card-front,
    .card-back {
      background-size: cover;
      background-repeat: no-repeat;
      background-blend-mode: overlay;
      color: white;
    }
    .card-front {
      background-image: url(../img/3dCard/KokushibouFront.jpg);
      background-color: rgba(255, 163, 42, 0.2);
      align-items: center;
    }
    .card-front::before {
      content: "";
      position: absolute;
      inset: 1rem;
      transform: translateZ(2rem);
    }
    .title {
      font-family: "Teko", sans-serif;
      font-size: 4.5rem;
      text-transform: uppercase;
      line-height: 120%;
      transform: translateZ(4.4rem);
    }
    .sub-title {
      font-size: 0.75rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 3px;
      transform: translateZ(3rem);
    }
    
    .card-back {
      background-image: url(../img/3dCard/Kokushibou.png);
      transform: rotateY(180deg);
      gap: 0.5rem;
    }
    .back-title {
      font-family: "Teko", sans-serif;
      font-size: 2.4rem;
      font-weight: 600;
      color: yellow;
      text-transform: uppercase;
      align-self: center;
      transform: translateZ(2rem);
    }
    
    .card-back span {
      font-weight: 600;
      color: black;
      text-align: justify;
    }
    .btn {
      text-decoration: none;
      font-weight: 500;
      padding: 0.5rem 2.2rem;
      color: black;
      border: 2px solid white;
      border-radius: 100px;
      text-align: justify;
      align-self: center;
      margin-top: 1rem;
      transform: translateZ(2rem);
      transition: 0.3s ease;
    }
    .btn:hover {
      background-color: rgb(185, 164, 0);
      color: black;
      border: 2px solid rgb(185, 164, 0);
    }
    
    .goku .card-front {
      background-image: url(../img/3dCard/gokussj3front.jpg);
    }
    .goku .card-back {
      background-image: url(../img/3dCard/GokuSSJ3.png);
    }
    
    .levi .card-front {
      background-image: url(../img/3dCard/leviFront.jpg);
    }
    .levi .card-back {
      background-image: url(../img/3dCard/Levi.png);
    }
    
    /* TODO: Style the butotns and borders of different cards */
    
}
