/* *******************************************************INICIO NAVBAR */
body {
background-color: black;
}

/* COR DOS ICONES */
.bgcoloricon{
    
color: rgb(255, 255, 255);
margin: 1% 80%;
font-size: x-large;


}
/* POSICAO DOS ICONES */
.posicaoicon {

margin: -3% 70%;
display:flex

}
/* TAMANHO DO CAMPO DE PESQUISA NAVBAR */
.widthpesquisa {
    border-radius: 5px;
width: 200px;
}

/* *******************************************************FIM NAVBAR */


.bordacard {
border-radius: 20px;
}

.fundomarvelcard {
   background-color: blue;
   height: 100%;
   width: 100%;
   margin: 20px;
   position:absolute;
z-index: 0;
}



  
  
  
  
  
  